body {
    margin: 0;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
   
}

#clock{
    color:hotpink;
    font-size: 60px;
    border-radius: 25px;
    background-color: white;
    border: double 25px greenyellow;
     width: 500px;
}

/* .main-container{
    margin: 0;
    background-color: #111;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
}

.clock{
    color: #00ffcc;
    font-size: 60px;
} */